In [3]:
import pandas as pd 
ratings =pd.read_csv('dataset/ratings.csv')
movies = pd.read_csv('dataset/movies.csv')
df = pd.merge(movies, ratings)
df.head()

   movieId             title  ... rating   timestamp
0        1  Toy Story (1995)  ...    4.0   964982703
1        1  Toy Story (1995)  ...    4.0   847434962
2        1  Toy Story (1995)  ...    4.5  1106635946
3        1  Toy Story (1995)  ...    2.5  1510577970
4        1  Toy Story (1995)  ...    4.5  1305696483

[5 rows x 6 columns]

In [4]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
df = df.drop(['genres', 'timestamp'], axis=1)
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [7]:
pivot_df = df.pivot_table(index=['userId'], columns=['title'], values='rating')
pivot_df.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN

[5 rows x 9719 columns]

In [8]:
pivot_df.shape #610(users)x9719(movies)

(610, 9719)

In [10]:
#Remove movies with less than 10 user-ratings
pivot_df = pivot_df.dropna(thresh=10, axis=1).fillna(0)
print(pivot_df.shape) #(610, 2269)
pivot_df.head()

(610, 2269)

title   'burbs, The (1989)  ...  ¡Three Amigos! (1986)
userId                      ...
1                      0.0  ...                    4.0
2                      0.0  ...                    0.0
3                      0.0  ...                    0.0
4                      0.0  ...                    0.0
5                      0.0  ...                    0.0

[5 rows x 2269 columns]

In [32]:
movie_similarity_df = pivot_df.corr(method='pearson')
movie_similarity_df.head()

title                              'burbs, The (1989)  ...  ¡Three Amigos! (1986)
title                                                  ...
'burbs, The (1989)                           1.000000  ...               0.353194
(500) Days of Summer (2009)                  0.063117  ...               0.125905
10 Cloverfield Lane (2016)                  -0.023768  ...               0.002733
10 Things I Hate About You (1999)            0.143482  ...               0.110612
10,000 BC (2008)                             0.011998  ...               0.083518

[5 rows x 2269 columns]

In [37]:
def get_similar_movies(movie_name, user_rating):
    #subtract 2.5(mean of ratings) from user_rating 
    # If user rating's below 3, movies similar to this movie is pushed down the 
    #preference list
    similar_score = movie_similarity_df[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score

action_lover = [('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)', 5), 
                ('12 Years a Slave (2013)', 4), ('2012 (2009)', 3),
                ('(500) Days of Summer (2009)',2)]

'''
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating), ignore_index=True)

similar_movies.head()
''' 

def print_top_movies(top_movies):
    n = len(top_movies)
    i = 1
    print('Top '+str(n)+' recommendations for You!!')
    for movie in top_movies:
        print(str(i)+" "+movie)
        i+=1
def show_top_recommended_movies(user_movie_ratings, top_n):
    similar_movies = pd.DataFrame()
    for movie,rating in user_movie_ratings:
        similar_movies = similar_movies.append(get_similar_movies(movie,rating), ignore_index=True)
    sorted_movies = similar_movies.sum().sort_values(ascending=False)
    chosen_movies = [item[0] for item in user_movie_ratings]
    #chosen_movies
    sorted_movies_without_given_movies = sorted_movies.drop(chosen_movies)
    how_many_to_show = top_n
    list_of_movies_recommended = list(sorted_movies_without_given_movies[:top_n].index)
    print_top_movies(list_of_movies_recommended)
    return list_of_movies_recommended

result = show_top_recommended_movies(action_lover, 10)

Top 10 recommendations for You!!
1 Fast and the Furious, The (2001)
2 Fast & Furious (Fast and the Furious 4, The) (2009)
3 Mission: Impossible III (2006)
4 Die Another Day (2002)
5 Crank (2006)
6 Wanted (2008)
7 Jumper (2008)
8 Mummy Returns, The (2001)
9 Rat Race (2001)
10 xXx (2002)
Top 10 recommendations for You!!
1 On Her Majesty's Secret Service (1969)
2 Thunderball (1965)
3 View to a Kill, A (1985)
4 Tremors (1990)
5 Moonraker (1979)
6 From Russia with Love (1963)
7 Licence to Kill (1989)
8 Goldfinger (1964)
9 Indiana Jones and the Kingdom of the Crystal Skull (2008)
10 Live and Let Die (1973)

In [38]:
user2_ratings = [('You Only Live Twice (1967)', 5), 
                ('40-Year-Old Virgin, The (2005)', 4), ('Working Girl (1988)', 3),
                ('(500) Days of Summer (2009)',2)]
result= show_top_recommended_movies(user2_ratings, 10)

Top 10 recommendations for You!!
1 On Her Majesty's Secret Service (1969)
2 Thunderball (1965)
3 View to a Kill, A (1985)
4 Tremors (1990)
5 Moonraker (1979)
6 From Russia with Love (1963)
7 Licence to Kill (1989)
8 Goldfinger (1964)
9 Indiana Jones and the Kingdom of the Crystal Skull (2008)
10 Live and Let Die (1973)

In [27]:
#tmp = sorted_movies.drop(['2 Fast 2 Furious (Fast and the Furious 2, The) (2003)','12 Years a Slave (2013)'])
#tmp
chosen_movies = [item[0] for item in action_lover]
#chosen_movies
sorted_movies_without_given_movies = sorted_movies.drop(chosen_movies)
how_many_to_show = 10
list_of_movies_recommended = list(sorted_movies_without_given_movies[:10].index)
list_of_movies_recommended

['Fast and the Furious, The (2001)',
 'Fast & Furious (Fast and the Furious 4, The) (2009)',
 'Mission: Impossible III (2006)',
 'Die Another Day (2002)',
 'Crank (2006)',
 'Wanted (2008)',
 'Jumper (2008)',
 'Mummy Returns, The (2001)',
 'Rat Race (2001)',
 'xXx (2002)']